body {
  margin: 0px;
  padding: 0px;
}

#main-div {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: red;
  overflow: auto;
}

#character-div {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: green;
}
